<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchMakeover"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".UserPageFive"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.example.matchmakeover.VIEW_USER_PAGE_FIVE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AdminLogin"
            android:exported="true">
            <intent-filter>

                <!-- Custom Action for admin login -->
                <action android:name="com.example.matchmakeover.adminlogin" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPageFour"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.example.matchmakeover.USER_PAGE_FOUR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Colorgrid"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.COLOR_GRID" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPageThree"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.USER_PAGE_THREE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPageTwo"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserPageOne"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.example.matchmakeover.USER_PAGE_1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewColors"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.NEW_COLOR" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Colors"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.VIEW_COLORS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewOccasions"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.NEW_OCCASION" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Occasions"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.VIEW_OCCASIONS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewCategories"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.NEW_CATEGORY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Categories"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.CATEGORIES" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageUpload"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProductPage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.PRODUCT_PAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Gender"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.GENDER" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminPage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.ADMIN_PAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupPage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.SIGNUP_PAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UserLogin"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomePage"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.matchmakeover.HOME_PAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>