<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.matchmakeover">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MatchMakeover"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name=".UserPageFive"
            android:exported="true"
            tools:ignore="Instantiatable">

        </activity>

        <activity
            android:name=".AdminLogin"
            android:exported="true">

        </activity>

        <activity
            android:name=".UserPageFour"
            android:exported="true"
            tools:ignore="Instantiatable">

        </activity>

        <activity
            android:name=".Colorgrid"
            android:exported="true">

        </activity>

        <activity
            android:name=".UserPageThree"
            android:exported="true">

        </activity>

        <activity
            android:name=".UserPageTwo"
            android:exported="true"
            tools:ignore="Instantiatable">

        </activity>

        <activity
            android:name=".UserPageOne"
            android:exported="true"
            tools:ignore="Instantiatable">

        </activity>

        <activity
            android:name=".NewColors"
            android:exported="true">

        </activity>

        <activity
            android:name=".Colors"
            android:exported="true">

        </activity>

        <activity
            android:name=".NewOccasions"
            android:exported="true">

        </activity>

        <activity
            android:name=".Occasions"
            android:exported="true">

        </activity>

        <activity
            android:name=".NewCategories"
            android:exported="true">

        </activity>

        <activity
            android:name=".Categories"
            android:exported="true">

        </activity>

        <activity
            android:name=".ImageUpload"
            android:exported="true">

        </activity>

        <activity
            android:name=".ProductPage"
            android:exported="true">

        </activity>

        <activity
            android:name=".Gender"
            android:exported="true">

        </activity>

        <activity
            android:name=".NewGender"
            android:exported="true">

        </activity>

        <activity
            android:name=".AdminPage"
            android:exported="true">

        </activity>

        <activity
            android:name=".SignupPage"
            android:exported="true">

        </activity>

        <activity
            android:name=".UserLogin"
            android:exported="true">

        </activity>

        <activity
            android:name=".GetStartedActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
